body{
    background-color: black;
}


.home h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    text-align: center;
    border-bottom: 2px solid #15f4ee ;
    text-transform: uppercase;
    padding: .5rem;
    color: white;
    
}
.btn img{
    position: relative;
    left: 5rem;
    display: inline-block;
    height: 10rem;
    width: 10rem;
    border: 2px solid #15f4ee;
    border-radius: 5px;
    margin-top: 4rem;
    margin-right: 4rem;
    padding: .5rem .5rem .5rem .5rem;
}
.btn a{
    text-decoration: none;
    font-size: 1.3rem;
    display: inline-block;
    padding: .5rem .5rem .5rem .5rem;
    margin: .5rem .5rem .5rem .5rem;
    color: aqua;
    border: 2px solid aqua;
    position: relative;
    margin-left: 8rem;
}
#cont{
    position: relative;
    margin-left: 9rem;
}
#log{
    position: relative;
    margin-left: 9.5rem;
}
#sign{
    position: relative;
    margin-left: 9.5rem;
}
.btn a:hover{
    cursor: pointer;
    box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
    0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
    transition: 0.25s;
    color: black;
}
.btn_2 img{
    position: relative;
    left: 5rem;
    display: inline-block;
    height: 10rem;
    width: 10rem;
    border: 2px solid #15f4ee;
    border-radius: 5px;
    margin-top: 4rem;
    margin-right: 4rem;
    padding: .5rem .5rem .5rem .5rem;
}
.btn_2 a{
    position: relative;
    left: 7rem;
    text-decoration: none;
    font-size: 1.3rem;
    display: inline-block;
    padding: .5rem .5rem .5rem .5rem;
    margin: .5rem .5rem .5rem .5rem;
    color: aqua;
    border: 2px solid aqua;
    margin-right: 10.5rem;

}
.btn_2 a:hover{
    cursor: pointer;
    box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
    0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
    transition: 0.25s;
    color: black;
}
.follow a{
    text-decoration: none;
    margin-top: 5rem;
    font-size: 1.5rem;
    margin: 0 1rem;
    cursor: pointer;
    color: white;
    position: relative;
    left: 30rem;
}
.follow a:hover{
    transform: rotateZ(360deg);
    transition: 1.5s;
}
.follow h3{
    text-transform: capitalize;
    font-size: 1rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-right: 4rem;
    margin-top: 25rem;
}